<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'post/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <div class = "main_container">
        <h1 class="page-title">These are my posts </h1>
        <a data-analytics="" data-cta=""  href="{% url 'create_post' %}">New Post</a>
        {% for post in posts %}
        <p>Title: {{post.title}}</p>
        <p>Content: {{post.content}}</p>
        <p>Publish Date: {{post.publishDate}}</p>
        <hr>
        {% endfor %}
    </div>
</body>
</html>