<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'post/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <!-- <a data-analytics="" data-cta=""  href="{% url 'postlist' %}">Back</a> -->
    <h1 class="page-title">Account Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <button data-analytics="" data-cta=""  type="submit">Login</button>
    </form>
   
</body>
</html>